
.msgContent {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: red;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
}

.msgMetadata {
    font-size: 11px;
    color: grey;
    padding-top: 0px;
    margin-top: 0px;
}

.message {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: azure;
}

.alignLeft {
    text-align: left;
    margin-right: 55%;
}

.alignRight {
    text-align: right;
    margin-left: 55%;
}

.userColor {
    background-color: green;
}

.otherColor {
    background-color: azure;
}

