

.welcome {
    border: 4px solid black;
    background-color: lightslategrey;
    width: 70%;
    margin: auto;
    padding: 10px;
    margin-top: 15px;
}

h4, h6 {
    padding: 5px;
    margin: 5px;
}

h4 {
    color: gold;
    font-size: 26px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

h6 {
    color: black;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 0px;
}

.submitBtn {
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
    background-color: rgb(89, 214, 31);
    border: 2px solid black;
    color: black;
}

.submitBtn:hover {
    background-color: rgb(54, 129, 20);
    color: white;
}

.submitBtn:active {
    background-color: rgb(149, 33, 153);
    color: white;
}

.hidden {
    display: none;
}


.warning {
    width: 70%;
    margin: auto;
    padding: 3px;
    padding-bottom: 6px;
    padding-top: 6px;
    background-color: darkblue;
    color: seashell;
    border: 2px solid black;
}

.username {
    color: red;
}

#inputName {
    width: 200px;
    height: 20px;
}
