
.header {
    width: 70%;
    height: 50px;
    text-align: center;
    padding: 10px;
    border: 4px double black;
    background-color: darkslategray;
    color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'hack'

}
